<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des livres</ion-title>
    <img src="assets/icon/icon.png" slot="end" width="70" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste des livres</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (keyup)="filterByTitle($event)"></ion-searchbar>

  <ion-list id="book-list">
    <ion-list-header id="title-list">Livres</ion-list-header>

    <!-- <ion-item *ngFor="let book of allBooks" lines="none" class="item-livre"> -->
    <ion-item *ngFor="let book of allBooks$ | async" lines="none">
      <ion-item-divider routerLink="/bookDetail/{{book.id}}">
        <ion-avatar slot="start">
          <img src="{{ book.image }}">
        </ion-avatar>
        <ion-label>{{ book.title }}</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>

      </ion-item-divider>
    </ion-item>
  </ion-list>

  <!-- <ion-item>
    <ion-button (click)="share()">
      <ion-icon name="share"></ion-icon>
    </ion-button>
  </ion-item> -->
  <!-- Fin button -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/book/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>