<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editer un livre</ion-title>
    <img src="assets/icon/icon.png" slot="end" width="70" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="book$ | async as book">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editer un livre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Editer le livre</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="editBookForm">
        <ion-item>
          <ion-label position="floating">Titre</ion-label>
          <ion-input required formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Auteur</ion-label>
          <ion-input formControlName="author" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Couverture (lien)</ion-label>
          <ion-input formControlName="image" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Genre</ion-label>
          <ion-select placeholder="Select One" formControlName="genreId" required>
            <ion-select-option *ngFor="let genre of allGenres$ | async" value="{{ genre.id }}">{{genre.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Résumé</ion-label>
          <ion-textarea formControlName="description" required></ion-textarea>
        </ion-item>

        <ion-button color="tertiary" class="btn-ajouter ion-margin-top" (click)="onEditSubmit()">Modifier</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>