<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/books" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="book"></ion-icon>
              <!-- <ion-icon slot="start" [ios]="book + '-outline'" [md]="book + '-sharp'"></ion-icon> -->
              <ion-label>Liste des livres</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/book/add" lines="none" detail="false"
              routerLinkActive="selected">
              <!-- <ion-icon slot="start" [ios]="book + '-outline'" [md]="book + '-sharp'"></ion-icon> -->
              <ion-icon slot="start" name="add-circle"></ion-icon>
              <ion-label>Ajouter un livre</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/genre/add" lines="none" detail="false"
              routerLinkActive="selected">
              <!-- <ion-icon slot="start" [ios]="book + '-outline'" [md]="book + '-sharp'"></ion-icon> -->
              <ion-icon slot="start" name="add-circle"></ion-icon>
              <ion-label>Ajouter un genre</ion-label>
            </ion-item>
            <!-- <ion-item routerDirection="root" [routerLink]="/book/add" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="add-circle-outline" [md]="add-circle-sharp"></ion-icon>
              <ion-label>Ajouter un livre</ion-label>
            </ion-item> -->
          </ion-menu-toggle>
          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>