ion-toolbar{
    --background : var(--ion-color-primary);
    color: var(--ion-color-light);
    ion-menu-button {
      color: var(--ion-color-light);
    }
  }

  ion-card-title{
      text-align: center;
  }

  ion-button {
    color: var(--ion-color-light);
  }

  